# .gitignore content
.aws-sam/

layer/

.idea/
tests/
uploads/
frontend/node_modules/
frontend/.idea/
frontend/upload.js.bak
backend/__pycache__/
       
# Ignore all dependencies packages inside venv
.venv/

# Secret files
.env
